{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="side-menu-wrap">
        <button class="side-menu-close"><span></span></button>
        <div class="side-menu-inner">

            <div class="side-logo"><a href="index.html"><img src="static/images/logo.png" alt=""></a></div>

            <div class="side-menu nice-scroll">
                <nav>
                    <ul>
                        <li class="menu-item-has-children"><a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index-2.html">Home Two</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="shop-left-sidebar.html">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                <li><a href="shop-full-width.html">Shop Full Width</a></li>
                                <li><a href="single-product.html">Single Product</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="index.html#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="login-register.html">Login Register</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="blog-left-sidebar.html">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-full-width.html">Blog Full Width</a></li>
                                <li><a href="single-blog-left-sidebar.html">Single Blog Left Sidebar</a></li>
                                <li><a href="single-blog-right-sidebar.html">Single Blog Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>

            <div class="side-social">
                <a href="index.html#"><i class="fa fa-facebook"></i></a>
                <a href="index.html#"><i class="fa fa-twitter"></i></a>
                <a href="index.html#"><i class="fa fa-pinterest"></i></a>
                <a href="index.html#"><i class="fa fa-instagram"></i></a>
                <a href="index.html#"><i class="fa fa-google-plus"></i></a>
            </div>

        </div>
    </div>

    <div class="side-menu-overlay"></div>

    <!-- Slider Section Start -->
    <div class="slider-section section">
        <div class="slider-wrapper">
            <div class="slider-slide" data-bg="static/images/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <h2>Stylish & Fashionable</h2>
                                    <p>Produce and supply various Handicraft items all over
                                        the world which were very attractive</p>
                                    <a href="shop-full-width.html">Shop Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-slide" data-bg="static/images/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <h2>Trendy & Hot</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at fuga magni
                                        nulla quam rerum?</p>
                                    <a href="shop-full-width.html">Shop Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-slide" data-bg="static/images/hero/hero-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-9">
                            <div class="slide-content">
                                <div class="slide-content-inner">
                                    <h2>Fashionable & Stylish</h2>
                                    <p>Handicraft Lorem and supply various  items all over
                                        the world which were very ipsum</p>
                                    <a href="shop-full-width.html">Shop Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Section End -->

    <!-- Banner Section Start -->
    <div class="banner-section section mt-100 mb-80 mt-xs-70 mb-xs-50">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-4 col-12 mb-20">
                    <div class="banner"><a href="index.html#"><img src="static/images/banner/banner-1.jpg" alt="Banner"></a></div>
                </div>

                <div class="col-md-4 col-12 mb-20">
                    <div class="banner"><a href="index.html#"><img src="static/images/banner/banner-2.jpg" alt="Banner"></a></div>
                </div>

                <div class="col-md-4 col-12 mb-20">
                    <div class="banner"><a href="index.html#"><img src="static/images/banner/banner-3.jpg" alt="Banner"></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Product Section Start -->
    <div class="product-section section bg-gray pt-100 pb-70 pt-xs-70 pb-xs-40">
        <div class="container">
            <div class="row">
                <div class="section-title text-center col mb-80 mb-xs-50">
                    <h1>New Products</h1>
                </div>
            </div>

            <div class="row">
                {% for product in recent_products %}
                <div class="col-lg-3 col-md-6 col-12 mb-30">
                    <div class="product-item bg-white">
                        <div class="product-inner">
                            {% with first_image=product.images.first %}
                            <div class="image-wrap">
                                <a href="{% url 'shop:detail_product' product.slug %}" class="image"><img
                                        src="{{ first_image.image.url }}" alt=""></a>
                                <a href="{% url 'shop:detail_product' product.slug %}" class="wishlist"><img src="{{ first_image.image.url }}"
                                                                  alt="Wishlist"></a>
                                <div class="actions">
                                    <a href="{% url 'shop:detail_product' product.slug %}"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="{% url 'shop:detail_product' product.slug %}"><i class="fa fa-eye"></i></a>
                                    <a href="{% url 'shop:detail_product' product.slug %}"><i class="fa fa-refresh"></i></a>
                                </div>
                            </div>
                            {% endwith %}

                            <div class="content text-center">
                                <h4 class="title"><a href="{% url 'shop:detail_product' product.slug %}">{{ product.name }}</a></h4>
                                <div class="price">
                                    {% if product.old_price %}
                                    <del class="price-old">${{ product.old_price }}</del>
                                    {% endif %}
                                    <span class="price-sale">${{ product.price }}</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Product Section End -->

    <!-- Banner Section Start -->
    <div class="banner-section section mt-100 mb-80 mt-xs-70 mb-xs-50">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12 mb-20">
                    <div class="banner"><a href="index.html#"><img src="static/images/banner/banner-4.jpg" alt="Banner"></a></div>
                </div>

                <div class="col-md-4 col-12 mb-20">
                    <div class="banner"><a href="index.html#"><img src="static/images/banner/banner-5.jpg" alt="Banner"></a></div>
                </div>

                <div class="col-md-4 col-12 mb-20">
                    <div class="banner"><a href="index.html#"><img src="static/images/banner/banner-6.jpg" alt="Banner"></a></div>
                </div>

                <div class="col-md-8 col-12 mb-20">
                    <div class="banner"><a href="index.html#"><img src="static/images/banner/banner-7.jpg" alt="Banner"></a></div>
                </div>

                <div class="col-md-4 col-12 mb-20">
                    <div class="banner"><a href="index.html#"><img src="static/images/banner/banner-8.jpg" alt="Banner"></a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Popular Product Section Start -->
    <div class="product-section section mb-100 mb-xs-70">
        <div class="container">

            <div class="row">
                <div class="section-title text-center col mb-50">
                    <h1>Populer In this Week</h1>
                </div>
            </div>

            <div class="row">
                <div class="product-slider">
                    <div class="slide-item col">

                        <div class="product-item bg-gray">
                            <div class="product-inner">

                                <div class="image-wrap">
                                    <a href="single-product.html" class="image"><img
                                            src="static/images/product/product-1.png" alt=""></a>
                                    <a href="index.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                      alt="Wishlist"></a>
                                    <div class="actions">
                                        <a href="index.html#"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="index.html#"><i class="fa fa-eye"></i></a>
                                        <a href="index.html#"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>

                                <div class="content text-center">

                                    <h4 class="title"><a href="single-product.html">Injected humour</a></h4>
                                    <span class="price">$799.99</span>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="slide-item col">

                        <div class="product-item bg-gray">
                            <div class="product-inner">

                                <div class="image-wrap">
                                    <a href="single-product.html" class="image"><img
                                            src="static/images/product/product-2.png" alt=""></a>
                                    <a href="index.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                      alt="Wishlist"></a>
                                    <div class="actions">
                                        <a href="index.html#"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="index.html#"><i class="fa fa-eye"></i></a>
                                        <a href="index.html#"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>

                                <div class="content text-center">

                                    <h4 class="title"><a href="single-product.html">Injected humour</a></h4>
                                    <span class="price">$799.99</span>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="slide-item col">

                        <div class="product-item bg-gray">
                            <div class="product-inner">

                                <div class="image-wrap">
                                    <a href="single-product.html" class="image"><img
                                            src="static/images/product/product-3.png" alt=""></a>
                                    <a href="index.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                      alt="Wishlist"></a>
                                    <div class="actions">
                                        <a href="index.html#"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="index.html#"><i class="fa fa-eye"></i></a>
                                        <a href="index.html#"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>

                                <div class="content text-center">

                                    <h4 class="title"><a href="single-product.html">Injected humour</a></h4>
                                    <span class="price">$799.99</span>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="slide-item col">

                        <div class="product-item bg-gray">
                            <div class="product-inner">

                                <div class="image-wrap">
                                    <a href="single-product.html" class="image"><img
                                            src="static/images/product/product-4.png" alt=""></a>
                                    <a href="index.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                      alt="Wishlist"></a>
                                    <div class="actions">
                                        <a href="index.html#"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="index.html#"><i class="fa fa-eye"></i></a>
                                        <a href="index.html#"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>

                                <div class="content text-center">

                                    <h4 class="title"><a href="single-product.html">Injected humour</a></h4>
                                    <span class="price">$799.99</span>

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="slide-item col">

                        <div class="product-item bg-gray">
                            <div class="product-inner">

                                <div class="image-wrap">
                                    <a href="single-product.html" class="image"><img
                                            src="static/images/product/product-5.png" alt=""></a>
                                    <a href="index.html#" class="wishlist"><img src="static/images/icons/heart.png"
                                                                      alt="Wishlist"></a>
                                    <div class="actions">
                                        <a href="index.html#"><i class="fa fa-shopping-cart"></i></a>
                                        <a href="index.html#"><i class="fa fa-eye"></i></a>
                                        <a href="index.html#"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </div>

                                <div class="content text-center">

                                    <h4 class="title"><a href="single-product.html">Injected humour</a></h4>
                                    <span class="price">$799.99</span>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Popular Product Section End -->

    <!-- Call to action Section Start -->
    <div class="call-to-action section mb-100 mb-xs-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="call-to-action-item mt-0">
                        <div class="call-to-action-item__icon">
                            <img src="static/images/icons/fast-delivery.png" alt="fast delivery">
                        </div>
                        <div class="call-to-action-item__info">
                            <h3>Free Home Delivery</h3>
                            <p>Provide free home delivery
                                for all product over $100</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="call-to-action-item">
                        <div class="call-to-action-item__icon">
                            <img src="static/images/icons/quality.png" alt="quality">
                        </div>
                        <div class="call-to-action-item__info">
                            <h3>Quality Products</h3>
                            <p>We ensure our product
                                quality all times</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="call-to-action-item">
                        <div class="call-to-action-item__icon">
                            <img src="static/images/icons/return.png" alt="return">
                        </div>
                        <div class="call-to-action-item__info">
                            <h3>3 Day Return</h3>
                            <p>Our product return policy
                                is very easy & simple</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to action Section End -->

    <!-- Subscribe Section Start -->
    <div class="subscribe-section section bg-light-blue pt-55 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 ml-auto mr-auto col-12">
                    <div class="row align-items-center">

                        <!-- Mailchimp Subscribe Content Start -->
                        <div class="col-lg-6 col-12 mb-15 mt-15">
                            <div class="subscribe-content">
                                <h2>Subscribe to our Newsletter</h2>
                                <h4>Subscribe today and get 15% <br>discount cupon code</h4>
                            </div>
                        </div><!-- Mailchimp Subscribe Content End -->


                        <!-- Mailchimp Subscribe Form Start -->
                        <div class="col-lg-6 col-12 mb-15 mt-15">

                            <form id="mc-form" class="mc-form subscribe-form">
                                <input id="mc-email" type="email" autocomplete="off" placeholder="Enter your email"/>
                                <button id="mc-submit">subscribe</button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->

                        </div><!-- Mailchimp Subscribe Form End -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe Section End -->
{% endblock %}
